# Java & Gradle
.gradle/
build/
bin/
*.class

# IDE (IntelliJ, VS Code)
.idea/
*.iml
.project
.settings/
.classpath
.vscode/

# OS
.DS_Store
Thumbs.db
# Chặn file chứa mật khẩu và secret key
.env
.evn
*.env
*.local
# IntelliJ rác
*.iws
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utilsBackup
pom.xml.v8

